.contenedor {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
  
    padding-top: 50px;


    .card {

        .card-body {
          
            color: #f68546;
            a {
                background-color: #f68546; 
                
            }
        }
    }
    
}

@media screen and (max-width: 768px) {

    #card_1 {

    display: none;

    }

    #card_2 {

        display: none;
    
        }



}

/* @media screen and (min-width: 425px) {

    #card_1 {

    display: none;

    }

    #card_2 {

        display: none;
    
        }



}
*/