.container-fluid {
   
    font-family: 'Playfair Display', serif;
    color: #29325d;
    

    display: flex !important;
    flex-direction: row;
    justify-content: space-between;

    #navbarSupportedContent {
   
        display: inline !important;

        a {

            font-family: 'Bebas Neue', cursive !important;
            font-size: 20px;

            
            }
        
        
        }

    

    .titulo_principal {
   
        position: relative;
        left: 300px;
        
        }

    h1 {
   
        font-size: 60px !important;
        
        }


}
#ul_barra {
    list-style-type: none;
    display: flex !important; 
    flex-direction: row-reverse;
    margin: 0 0 0 0 !important;
    padding-left: 0;
    word-spacing: 9px !important;


}

@media screen and (max-width: 1024px) {


    div h1 {
        font-size: 20px;
        position: relative;
        right: 150px;
    }


    #nav_principal {

        margin-right: 40px;
    }



}


